Chapter5/Microservices.CountryCapital/.vs/
Chapter5/Microservices.CountryCapital/LambdaLayer/bin/
Chapter5/Microservices.CountryCapital/LambdaLayer/obj/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.API/bin/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.API/obj/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.Domain/bin/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.Domain/obj/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.Infrastructure/bin/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.Infrastructure/obj/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.Services/bin/
Chapter5/Microservices.CountryCapital/Microservices.CountryCapital.Services/obj/
Chapter7/StepFunctions/OrderProcessor/.vs/
Chapter7/StepFunctions/OrderProcessor/OrderProcessor/bin/
Chapter7/StepFunctions/OrderProcessor/OrderProcessor/obj/
Chapter 9/TokenAuthorizer/.vs/
Chapter 9/TokenAuthorizer/TokenAuthorizer/bin/
Chapter 9/TokenAuthorizer/TokenAuthorizer/obj/
Chapter 9/Cognito-Authorizer/.vs/
Chapter 9/Cognito-Authorizer/Cognito-Authorizer/bin/
Chapter 9/Cognito-Authorizer/Cognito-Authorizer/obj/
